:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    max-width: 1280px; /* You can adjust this value as needed */
    margin: 0 auto; /* This centers the block element */
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #744bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.hero {
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 36px;
}

.endgame {
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
}
.Endgame-header {
    color: #fff;
    font-size: 30px;
}

.Endgame-description {
    font-size: 15px;
}
.body-html {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.input-values {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.input-box {
    margin-top: 50px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid gold;
    font-size: 40px;
}

.alphabet-container {
    display: flex;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 36px;
}

.alphabet-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: center;
    background-color: gold;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.alphabet-btn.correct {
    background-color: green;
    color: white;
}

.alphabet-btn.wrong {
    background-color: red;
    color: white;
}

.alphabet-btn.disabled {
    background-color: #555;
    color: #999;
    cursor: not-allowed;
    opacity: 0.6;
}

.status-box {
    margin: 0;
    border-radius: 10px;
    background-color: green;
    padding: 3px;
    text-align: center;
    margin-block: 30px;
}

.word {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 20px;
}

.letter {
    background-color: #3a3a3c;
    color: white;
    width: 60px;
    border-bottom: 2px solid gold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
}

.new-game {
    margin-top: 20px;
}

.new-game-btn {
    background-color: blue;
}
